*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-links ul{
    display: flex;
    gap: 20px;
    font
}